.profile__edit-button {
    background-color: #000;
    color: #fff;
    display: inline-block;
    padding: 0;
    margin: 0;
    cursor: pointer;
    outline: none;
    background-image: url('../../../images/edit.svg');
    width: 18px;
    height: 18px;
    border-radius: 0;
    border: 1px solid #fff;
    margin-left: 5px;
    margin-right: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 8px;
}

@media (min-width: 769px) {
    .profile__edit-button {
        width: 24px;
        height: 24px;
        margin-left: 18px;
        margin-right: 0;
        margin-top: 10px;
        background-size: 10px;
    }
}

.button_type_edit:hover {
    opacity: 0.6;
}