.profile__edit-button {
    margin: 0;
    padding: 0;
    color: white;
    background-color: black;
    width: 24px;
    height: 24px;
    box-sizing: border-box;
    background-image: url(/images/edit.svg);
    cursor: pointer;
    border: 1px solid white;
    align-self: center;
    margin-left: 18px;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 20px;
    outline: 0 none;
}

@media screen and (max-width: 425px) {
    .profile__edit-button {
        width: 18px;
        height: 18px;
        margin-top: 0;
        margin-left: 10px;
    }
}

.profile__edit-button:hover {
    opacity: 0.6;
}