.page {
    margin: 0 auto;
    padding: 0;
    max-width: 880px;
    position: relative;
    background-color: #000000;
    font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

@media screen and (max-width: 320px) {
    .page {
        max-width: 100%;
    }
}