.profile {
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 46.25px;
    max-width: 880px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 720px) {
    .profile {
        flex-direction: column;
        margin-top: 38.25px;
        margin-bottom: 0;
    }
}