.header__logo {
    margin-left: 28px;
    width: 103.75px;
}

@media (min-width: 426px) {
    .header__logo {
        width: 142px;
    }
}

@media (min-width: 911px) {
    .header__logo {
        margin-left: 0;
    }
}

.header__logo:hover {
    opacity: 0.5;
}