.header__logo {
    padding: 0 0 40px;
    width: 142px;
    height: 33px;
    color: white;
}

@media screen and (max-width: 879px) {
    .header__logo {
        padding: 0 0 31px 27px;
    }
}

@media screen and (max-width: 425px) {
    .header__logo {
        width: 103.74px;
        height: 24.4px;
    }
}

.header__logo:hover {
    opacity: 0.5;
}