.header {
    margin: 0 auto;
    max-width: 880px;
    padding-top: 45px;
    padding-bottom: 41px;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media screen and (max-width: 1023px) {
    .header {
        padding: 40px 21px 40px;
        ;
    }
}

@media screen and (max-width: 425px) {
    .header {
        max-width: 320px;
        padding: 28px 19px 31.6px;
    }
}