.content {
    margin: 0 auto;
}

@media screen and (max-width: 950px) {
    .content {
        padding: 0 21px 0px;
    }
}

@media screen and (max-width: 425px) {
    .content {
        padding: 0 19px 0;
    }
}