.element__like-button {
    background-image: url('../../../images/like.svg');
    background-color: black;
    color: white;
    display: inline-block;
    padding: 0;
    margin: 0;
    margin-top: 310px;
    background-repeat: no-repeat;
    background-position: center;
    min-width: 22px;
    height: 19px;
    background-size: 22px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
}

.element__like-button:hover {
    opacity: 0.6;
}