.element__like-button {
    width: 22px;
    height: 19px;
    background-image: url('../../../images/like.svg');
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: 0 none;
    background-size: 22px;
    background-repeat: no-repeat;
    background-position: center;
}

.element__like-button:hover {
    opacity: 0.5;
}