.element {
    width: auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    background-color: white;
    position: relative;
}

@media screen and (max-width: 425px) {
    .element {
        margin: 0 auto;
        max-width: 282px;
    }
}